<div class="img-container" [routerLink]="[product.id]" routerLinkActive="router-link-active" >
    <img src="/assets/items/{{ product.imageUrl }}" alt="{{ product.name }}" />
</div>

<div class="info">
  <a 
     class="product-name" 
     [routerLink]="[product.id]" 
     routerLinkActive="router-link-active" 
  > <strong>{{ product.name }}</strong>
  </a>
  <span>{{ product.price | currency }}</span>
</div>
<button (click)="addToCart()" title="Añadir al Carrito">
  <img src="/assets/add_white.svg" alt="+" />
</button>
